name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: poetry install

      - name: Run linter
        run: make lint

      - name: Prepare coverage
        run: ./cc-test-reporter before-build

      - name: Run tests
        run: |
          poetry run pytest --cov=gendiff --cov-report xml

      - name: Upload coverage to CodeClimate
        run: |
          ./cc-test-reporter format-coverage coverage.xml --input-type coverage.py
          ./cc-test-reporter upload-coverage
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

